<div class="row">
  <div class="small-12 small-centered large-6 large-centered columns">
    <div class="comment comment-<%= comment.id %>">
      <table>
        <tr>
          <td class="comment_details"><%= comment.body %></td>
        </tr>

        <tbody>
        <tr >
          <% if user_signed_in? %>
            <% if comment.creator == current_user || comment.story.creator == current_user %>
              <td>
                <%= link_to 'Edit Comment', edit_story_comment_path(comment.story.id, comment.id), class: "button round" %>
              </td>
              <br>
              <td>
                <%= button_to 'Delete Comment', story_comment_path(comment.story, comment),  { method: :delete } %>
              </td>
            <% end %>
          <% end %>
          <td><%= time_ago_in_words(comment.created_at)%> ago</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
