<% unless @story.story_photo.nil? %>
<div class="small-12 large-10 large-centered columns">
  <div class="personal-image">
    <%=image_tag @story.story_photo %>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="panel lifehack_title small-12 large-8 large-centered columns">
    <h2><%= @story.title %></h2>
    <table width="620">
      <tr>
        <td>
          <h5><%= @story.body %></h5>
        </td>
      </tr>
        <tr>
          <th><%= @story.creator.first_name %></th>
          <th width="200"><%= @story.created_at %></th>
        </tr>
      </table>
      <th>
        <% if @story.creator == current_user %>
        <%= link_to 'Edit Story', edit_story_path(@story), class: 'button round' %><%= button_to 'Delete Story', @story, { method: :delete} %>
        <% end %>
      </th>
  </div>
</div>

<ul class="addstory small-3 small-centered columns">
  <% if user_signed_in? %>
  <%= link_to 'Add Comment', new_story_comment_path(@story),
  class: 'button round' %>
  <% end %>
</ul>
  <% if @current_user_stories.present? %>
    <li><%= link_to "Link Request", new_story_story_link_path(@story), class: 'button' %></li>
  <% end %>

<div class="row">
  <table>
    <% if user_signed_in? && !@story.comments.empty? %>
      <div class="container">
        <%= render @comments %>
      </div>
    <% elsif @story.comments.empty? %>
      <div class="specialtext">
        No coments yet!
      </div>
    <% else %>
      <div class="specialtext">
        Sign up to get access to full content.
      </div>
    <% end %>
  </table>
</div>
