<div class="row">
  <ul class="button add-story">
    <% if @story.creator == current_user %>
      <%= link_to 'Edit Story', edit_story_path(@story), class: 'button' %>
      <%= button_to 'Delete Story', @story, { method: :delete} %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'Add Comment', new_story_comment_path(@story),
      class: 'button' %>
    <% end %>
  </ul>
</div>

<div class="panel lifehack_title small-12 columns ">
    <h2><%= @story.title %></h2>
</div>

<body>
  <p>
    <%= @story.body %>
    <%= @story.created_at %>
  </p>
</body>

<table>
  <% if user_signed_in? && !@story.comments.empty? %>
    <%= render @comments %>
  <% elsif @story.comments.empty? %>
    No coments yet!
  <% else %>
    Sign up to get access to full content.
  <% end %>
</table>
