<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Love-Is-Love" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

<body>
  <div class="fixed">
    <nav class="top-bar sticky" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'Love Is Love', root_path %></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <% unless user_signed_in? %>
            <li class="has-form">
              <%= link_to 'Sign In', new_user_session_path, :class => "button round registration" %>
            </li>
            <li class="divider"></li>
            <li class="has-form">
              <%= link_to 'Sign Up', new_user_registration_path, :class => "button round registration" %>
            </li>
          <% else %>
            <li class="has-dropdown">
              <a href="#">Story Link Requests</a>
              <ul class="dropdown">
                <li><a href="#">First link in dropdown</a></li>
                <li class="active"><a href="#">Active link in dropdown</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li class="has-form">
              <%= link_to 'Sign Out', destroy_user_session_path, :class => "button alert round registration", method: :delete %>
            </li>
            <li class="divider"></li>


          <% end %>
        </ul>
      </section>
    </nav>
  </div>
  <div class="messages">
    <% unless flash.empty? %>
      <% flash.each do |type, message| %>
        <div data-alert class="alert-box info radius flash">
          <%= message %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    <% else %>
      <div class="spacer">
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= yield %>
  </div>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
